.content {
  padding: 20px;
}

.sidebar {
  background: #f8f9fa;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar ul.nav {
  padding-top: 20px;
}

.sidebar ul.nav li {
  margin-bottom: 10px;
}

.sidebar ul.nav li a {
  color: #333;
  transition: background-color 0.3s, font-weight 0.3s;
}

.sidebar ul.nav li a:hover,
.sidebar ul.nav li a.active {
  color: #007bff;
  font-weight: bold;
  background-color: #f0f0f0;
}

.sidebar ul.nav .active {
  font-weight: bold;
  background-color: #f0f0f0;
}
